extends ../../common/base

block content
  // start page wrapper
  .page-wrapper
    .page-content
      .page-breadcrumb.d-none.d-sm-flex.align-items-center.mb-3
        .breadcrumb-title.pe-3 Cash Receipts
        .ps-3
          nav(aria-label='breadcrumb')
            ol.breadcrumb.mb-0.p-0
              li.breadcrumb-item
                a(href='javascript:;')
                  i.bx.bx-home-alt
              li.breadcrumb-item.active(aria-current='page') View Cash Receipt
      // end breadcrumb
      .row
        .col-xl-12.mx-auto 
          .card.border-top.border-0.border-4.border-primary
            .card-body.p-4
              .row
                .col-lg-4
                  .form-body
                    form
                      .border.border-3.p-4.rounded
                        .mb-3
                          .table-responsive
                            table.table.align-middle.mb-0
                              thead.table-light
                                tr
                                  th Ref #
                                  th Amount
                              tbody#cashReceiptEntries
                                each cashReceiptEntry in cashReceipt.cashReceiptEntries
                                  tr
                                  - let id
                                  - if(cashReceiptEntry.saleId) id = `S-${cashReceiptEntry.saleId}`
                                  - if(cashReceiptEntry.orderId) id = `O-${cashReceiptEntry.orderId}`
                                  td #{id}
                                  - let amount = (cashReceiptEntry.amount * 1).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                                  td #{amount}
                        .row
                          .col.md-2
                            .mb-3
                              label.py-2.form-label(for='totalAmount') Total Amount 
                          .col.md-2
                            .mb-3
                              - let totalAmount = (cashReceipt.totalAmount * 1).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                              label#totalAmount.py-2.form-label.w-100.btn.btn-outline-secondary.px-3 #{totalAmount}
                        .row
                          .col.md-2
                            .mb-3
                              label.form-label(for='discount') Discount
                              input#discount.form-control(type='number' value=`${cashReceipt.discount}` step='0.01' disabled)
                          .col.md-2
                            .mb-3
                              label.form-label(for='netTotal') Net Total
                              - let netTotal = (cashReceipt.netTotal * 1).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                              input#netTotal.form-control(type='text' value=`${netTotal}` disabled)
                        .row
                          .col.md-2
                            .mb-3
                              label.form-label(for='paidAmount') Paid Amount
                              - let paidAmount = (cashReceipt.paidAmount * 1).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                              input#paidAmount.form-control(type='text' value=`${paidAmount}` disabled)
                          .col.md-2
                            .mb-3
                              label.form-label(for='balancePaid') Pay Balance
                              - let balancePaid = (cashReceipt.balancePaid * 1).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                              input#balancePaid.form-control(type='text' value=`${balancePaid}` disabled)
                        .row
                          .col.md-2
                            .mb-3
                              button.btn.btn-primary.px-5(type='submit') Back
                .col-lg-8
                  .col-xl
                    .card
                      .card-body
                        ul.nav.nav-tabs.nav-primary(role='tablist')
                          li.nav-item(role='presentation')
                            a.nav-link.active(data-bs-toggle='tab' href='#primaryhome' role='tab' aria-selected='true')
                              .d-flex.align-items-center
                                .tab-icon
                                  i.bx.bx-home.font-18.me-1
                                .tab-title Sales
                          li.nav-item(role='presentation')
                            a.nav-link(data-bs-toggle='tab' href='#primaryprofile' role='tab' aria-selected='false')
                              .d-flex.align-items-center
                                .tab-icon
                                  i.bx.bx-user-pin.font-18.me-1
                                .tab-title Orders
                        .tab-content.py-3
                          .tab-pane.fade.show.active(id='primaryhome' role='tabpanel')
                            .table-responsive
                              table.table.align-middle.mb-0
                                thead.table-light
                                  tr
                                    th Sale Id
                                    th Amount
                                    th Status
                                    th Action
                                tbody#pendingSales
                          .tab-pane.fade(id='primaryprofile' role='tabpanel')
                            .table-responsive
                              table.table.align-middle.mb-0
                                thead.table-light
                                  tr
                                    th Order Id
                                    th Customer
                                    th Rem. Amount
                                    th Delivery Method
                                    th Status
                                    th Action
                                tbody#pendingOrders
  script(src='/assets/js/custom/operations/cashReceipts/showCashReceipt.js')