extends ../../common/base

block content
  // start page wrapper
  .page-wrapper
    .page-content
      .page-breadcrumb.d-none.d-sm-flex.align-items-center.mb-3
        h6.mb-0.text-uppercase Suppliers
        - if(user.userRole === 'cash-counter')
          .ms-auto
            a.btn.btn-primary.mt-2.mt-lg-0(href='/suppliers/create')
              i.bx.bxs-plus-square
              | New Supplier
      .row
        .col-12
          .card
            .card-body
              .table-responsive
                table#myTable.table.table-striped.table-bordered
                  thead
                    tr
                      th Ser
                      th Supplier Name
                      th Contact #
                      th Address
                      th Balance
                      th Actions
                  tbody
                    - let i = 0
                    each supplier in suppliers
                      tr
                        td= ++i
                        td #{supplier.name}
                        td #{supplier.contactNo}
                        td #{supplier.address}
                        - let balance = (supplier.account.balance * 1).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                        td #{balance + ' ' + supplier.account.balanceType.substring(0, 1)}
                        td
                          a.ms-2(href=`/suppliers/${supplier.id}/show` title='View Supplier') 
                            i.fa.fa-lg.fa-eye
                          - if(user.userRole === 'cash-counter')
                            a.ms-2(href=`/suppliers/${supplier.id}/edit` title='Update Supplier') 
                              i.fa.fa-lg.fa-pencil
                          a.ms-2(href=`/accounts/${supplier.account.id}/show` title='View Account Ledger') 
                            i.fa.fa-lg.fa-layer-group
            