extends ../../common/base

block content
  // start page wrapper
  .page-wrapper
    .page-content
      .page-breadcrumb.d-none.d-sm-flex.align-items-center.mb-3
        .breadcrumb-title.pe-3 Customers
        .ps-3
          nav(aria-label='breadcrumb')
            ol.breadcrumb.mb-0.p-0
              li.breadcrumb-item
                a(href='javascript:;')
                  i.bx.bx-home-alt
              li.breadcrumb-item.active(aria-current='page') View Customer
      // end breadcrumb
      .row
        .col-xl-7.mx-auto
          .card.border-top.border-0.border-4.border-primary
            .card-body.p-5
              .form-body
                form
                  .row.g-3
                    .col-md-6.form-group
                      label.form-label(for='customerName') Customer Name
                      input#customerName.form-control(type='text' disabled value=`${customer.name}`)
                    .col-md-6.form-group
                      label.form-label(for='contactNo') Contact # (0XXX-XXXXXXX)
                      input#contactNo.form-control(type='text' maxlength='12' disabled value=`${customer.contactNo}`)
                  .row.g-3.mt-2
                    .col-md-6.form-group
                      label.form-label(for='address') Address
                      input#address.form-control(type='text' disabled value=`${customer.address}`)
                    .col-md-6.form-group
                      label.form-label(for='openingBalance') Balance
                      - let balance = (customer.account.balance * 1).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                      input#openingBalance.form-control(type='text' disabled value=`${balance} ${customer.account.balanceType.substring(0, 1)}`)
                  .row.g-3.mt-2
                    .col-12.form-group
                      button.btn.btn-primary.px-5(type='submit') Back
  script(src='/assets/js/custom/bizObjects/customers/showCustomer.js')