extends ../../common/base

block content
  // start page wrapper
  .page-wrapper
    .page-content
      .page-breadcrumb.d-none.d-sm-flex.align-items-center.mb-3
        h6.mb-0.text-uppercase Purchase Returns
        - if(user.userRole === 'cash-counter')
          .ms-auto
            a.btn.btn-primary.mt-2.mt-lg-0(href='/purchaseReturns/create')
              i.bx.bxs-plus-square
              | New Purchase Return
      .row
        .col-12
          .card
            .card-body
              .table-responsive
                table#myTable.table.table-striped.table-bordered
                  thead
                    tr
                      th Ser.#
                      th Date & Time
                      th Amount
                      th Supplier
                  tbody
                    - let i = 0
                    each purchaseReturn in purchaseReturns
                      tr
                        td= ++i
                        td 
                          .d-flex.align-items-center
                            .ms-2
                              - let dateString = moment(purchaseReturn.createdAt).format('DD-MM-YYYY');
                              - let timeString = moment(purchaseReturn.createdAt).format('hh:mm:ss A');
                              h6.mb-1.font-14 #{dateString}
                              p.mb-0.font-13.text-secondary #{timeString}
                        - let amount = (purchaseReturn.amount * 1).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                        td
                          .d-flex.align-items-center
                            .ms-2
                              h6.mb-1.font-14 #{amount}
                              p.mb-0.text-primary
                                  a(href=`/purchaseReturns/${purchaseReturn.id}/show` title='View Purchase Return')
                                    i.bx.bx-sm.bx-show-alt.text-primary
                                    span.ms-2 View Purchase Return
                        td
                          .d-flex.align-items-center
                            .ms-2
                              h6.mb-1.font-14 #{purchaseReturn.supplier.name}
                              p.mb-0.text-primary
                                  a(href=`/accounts/${purchaseReturn.supplier.account.id}/show` title='View Account Ledger')
                                    i.bx.bx-sm.bx-show-alt.text-primary
                                    span.ms-2 View Account